.App {
  text-align: center;
  background-image: linear-gradient(25deg, darkslategrey, lightseagreen);
}

.Jumbotron{
  background-color: #007766;
  border-radius: 20px;
}
.jumbootsikko{
  padding: 10px;
  padding-bottom: 0px;
  color: #00dd99;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
}
h2 {
  font-size: 30px;
  color: #62e4b8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
p {
  display: grid;
  grid-template-columns: repeat(1, 60%);
  justify-content: center;
  text-align: justify;
  font-size: 20px;
  padding-bottom: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: lemonchiffon;
}
.Logo{
  animation: App-logo-spin infinite 10s alternate;
  height: 20vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


